/* gradient colors */
.cD0-grd-light-blue{
    background-image: linear-gradient(to right, #E9F7FE , #F3F3FF);
}

.cD0-grd-blue-purple-tranparent{
    background-image: linear-gradient(to right, rgba(75, 190, 274, 0.2) , rgba(156, 157, 254, 0.2));
}

.cD0-grd-blue-purple{
    background-image: linear-gradient(to right, #4BBEF7 , #64B4F9, #9C9DFE);
}

.cD0-grd-purple-blue{
    background-image: linear-gradient(to right, #9C9DFE, #4BBEF7);
}

.cD0-grd-blue-purple-2{
    background-image: linear-gradient(to right, #4BBEF7, #9C9DFE);
}

.cD0-grd-white{
    background-image: linear-gradient(to right, #EFF8FE, #F4F4FF);
}

.cD0-grd-gold{
    background-image: linear-gradient(to right, #E6D28B, #FFC600);
}


/* colors */
.cD0-light-blue{
    color: #4BBEF7;
}

.cD0-black{
    color: #333333;
}

.cD0-white{
    color: #FFFFFF;
}

.cD0-white-2{
    color: #EEF0FC;
}

.cD0-dark-gray{
    color: #46494C
}

.cD0-dark-gray{
    color: #46494C
}

.cD0-gray{
    color: #8A8F93
}

.cD0-dark-blue-2{
    color: #1C2D49; 
}

.cD0-purple{
    color: #8080FF
}

.cD0-light-purple{
    color: #9C9DFE
}

.cD0-dark-blue{
    color: #2F3F58
}

.cD0-white-blue{
    color: #F5F5FF
}

.cD0-light-gary{
    color: #9DA9BE
}




/* shadows */
.cD0-shadow-blue{
    box-shadow: 0px 16px 40px rgba(112, 144, 176, 0.2);
}

.cD0-shadow-black{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.cD0-shadow-light-blue{
    box-shadow: 0px 16px 60px rgba(0, 0, 0, 0.16);
}

.cD0-shadow-black-8{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
}

.cD0-shadow-black-8-0y{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
}

.cD0-drop-shadow-black-8{
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.08));
}

.cD0-drop-shadow-black-16{
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}

.cD0-drop-shadow-black-25{
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
}

.cD0-drop-shadow-black-40{
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.4));
}

.cD0-drop-shadow-gray-20{
    filter: drop-shadow(0px 3px 6px rgba(170, 170, 170, 0.2));
}

.cD0-drop-shadow-purple{
    filter: drop-shadow(0px 0px 2px #9C9DFE);
}

.cD0-drop-shadow-black-16-20y{
    filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.16));
}

.cD0-drop-shadow-black-15{
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.15));
}




/* backgrounds */
.cD0-bg-light-blue-transparent{
    background-color: rgba(0, 172, 245, 0.2);
}

.cD0-bg-light-blue{
    background-color: #E5F7FE;
}

.cD0-bg-light-blue-2{
    background-color: #4BBEF7;
}

.cD0-bg-purple{
    background-color: #EEF0FC;
}

.cD0-bg-purple-1{
    background-color: #9C9DFE;
}

.cD0-bg-purple-2{
    background-color: rgba(128, 128, 255, 0.493);
}

.cD0-bg-purple-3{
    background-color: rgba(156, 158, 254, 0.356);
}

.cD0-bg-purple-transparent{
    background-color: rgba(128, 128, 255, 0.233);
}

.cD0-bg-green-transparent{
    background-color: rgba(54, 219, 153, 0.226)
}

.cD0-bg-white{
    background-color: #FFFFFF;
}

.cD0-bg-white-1{
    background-color: #F3F3FF;
}

.cD0-bg-white-2{
    background-color: #F9FAFE;
}

.cD0-bg-white-2-transparent{
    background-color: rgba(249, 250, 254, 0.356);
}

.cD0-bg-dark-gray{
    background-color: #46494C;
}

.cD0-bg-blue-white{
    background-color: #EFF8FE;
}

.cD0-bg-light-blue-3{
    background-color: rgba(64, 201, 255, 0.493)
}

.cD0-bg-gray{
    background-color: rgba(138, 143, 147, 0.301);
}

.cD0-bg-gray-1{
    background-color: #9DA9BE;
}

.cD0-bg-gray-2{
    background-color: #8A8F93;
}




/* borders */
.cD0-border-purple{
    border: #9C9DFE solid;
}

.cD0-border-blue{
    border: #4BBEF7 solid 2px;
}

.cD0-border-white-4px{
    border: #FFFFFF solid 4px;
}

