/* vertical line*/
.uD0-vl{
    border-left: 1px solid #333333;
    height: 24px;
    display: inline-block;
}

.uD0-vl-white{
    border-left: 2px solid #ffffff;
    height: 27px;
    display: inline-block;
}

/* border */

.uD0-no-border{
    border: none;
}

.uD0-radius-cir{
    border-radius: 50%;
}

.uD0-radius-30{
    border-radius: 30px;
}

.uD0-radius-20{
    border-radius: 20px;
}

.uD0-radius-10{
    border-radius: 10px;
}

.uD0-radius-8{
    border-radius: 8px;
}

.uD0-radius-5{
    border-radius: 5px;
}

.uD0-br-radius-right{
    border-radius: 0px 10px 10px 0px;
}

.uD0-no-bg{
    background: none;
}

.uD0-grid{
    display: grid;
}

.uD0-dir-row{
    flex-direction: row;
}

.uD0-dir-col{
    flex-direction: column;
}

.uD0-al-center{
    align-items: center;
}

.uD0-al-end{
    align-items: flex-end;
}

.uD0-jf-start{
    justify-content: flex-start;
}

.uD0-jf-center{
    justify-content: center;
}

.uD0-jf-end{
    justify-content: flex-end;
}

.uD0-flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.uD0-flex-column{
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center; */
}

.uD0-wrap{
    flex-wrap: wrap;
}

.uD0-nowrap{
    flex-wrap: nowrap;
}

.uD0-flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.uD0-flex-gap-3{
    gap: 3px;
}

.uD0-flex-gap-8{
    gap: 8px;
}

.uD0-flex-gap-11{
    gap: 11px;
}

.uD0-flex-gap-24{
    gap: 24px;
}

.uD0-flex-gap-32{
    gap: 32px;
}

.uD0-inline-block{
    display: inline-block;
}

.uD0-im-cover-center{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


